.burger {
    display: none;
    position: absolute;
    transform: translateY(-50%);
    width: 20px;
    height: 12px;
    &__line {
        display: block ;
        height: 2px;
        width: 100%;
        background-color: white ;
        margin-bottom: 2px;
        transition: 0.5s all;
        &_active {
            margin-bottom: -2px;
            &:nth-child(1) {
                transform: translateY(3px) rotate(-45deg)
            }
            &:nth-child(2) {
                opacity: 0;
            }            
            &:nth-child(3) {     
                transform: translateY(3px) rotate(45deg)
            }
        } 
           
    }
}

@media (max-width: 767px) {
    .burger {
        display: block;
    }
}